In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Data Acquisition

### Live Demos

This is some text
$$y = ax + b$$

In [12]:
pd.DataFrame({"name": ["Ivan", "Georgi"], "surname": ["Angelov", "Ivanov"], "age": [32, 15]})

     name  surname  age
0    Ivan  Angelov   32
1  Georgi   Ivanov   15